<%- include('partials/header'); -%>

<section class="fancyBgWhite pt-5 mt-3 pb-0">
	<div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
<h1>Cennik usług</h1>
<!--<h4 class="mb-0 pb-1">Ceny przy Umowie o dzieło.</h4>-->
</div>
</div>
</div>
</section>


<!-- 1 -->
<section class="fancyBg">
	<div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Film z drona</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         <video controls="" id="falentyMain" loop="" style="width:100%; height:auto;" loading="lazy">
               <source src="/video/6.mp4" type="video/mp4">
           </video>
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
        	<p class="leadP">Lot dronem nad wybranym obiektem, na różnych wysokościach, z atrakcyjnymi ujęciami (panning w ruchu, odkrywające, śledzące). Cena obejmuje nagranie materiału, montaż 2-minutowego filmu, dodanie animowanych napisów, udźwiękowienie (royalty free music) i eksport do formatu MP4 (rozdzielczość 1080p).</p>
            <h3 class="p-0">Cena:</h3>
            <h2 style="font-size:calc(21px + 1.1vw)"><strong>1200 zł</strong></h2>
</div>
</div>
</div>
</div>
</section>
<!-- 2 -->
<section class="fancyBgWhite">
	<div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Nagranie długiego procesu</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         <video controls="" id="falentyMain" loop="" style="width:100%; height:auto;" loading="lazy">
               <source src="/video/budowa_domu_prefabrykaty.mp4" type="video/mp4">
           </video>
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
        	<p class="leadP">Nagranie konkretnego procesu, takiego jak budowa szkieletu, czy wylewanie fundamentów, który trwa wiele godzin i wymaga wielu lotów dronem. Cena obejmuje nagranie materiału, montaż, dodanie animowanych napisów, udzwiękowienie (royalty free music) i eksport do formatu MP4 (1080p).</p>
        	<h3 class="pb-0">Cena:</h3>
            <h2 style="font-size:calc(21px + 1.1vw)"><strong>1800 zł/dzień</strong></h2>
</div>
</div>
</div>
</div>
</section>
<!-- 3 -->
<section class="fancyBgWhite">
	<div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Film promujący lokal</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         <video controls="" id="falentyMain" loop="" style="width:100%; height:auto;" loading="lazy">
               <source src="/video/5.mp4" type="video/mp4">
           </video>
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
        	<p class="leadP">Nagranie filmu idealnego do promocji umeblowanego lokalu. Cena obejmuje nagranie materiału na zewnątrz i wewnątrz, montaż, dodanie animowanych napisów, udzwiękowienie (royalty free music) oraz export do formatu MP4 (1080p). Opcjonalnie mogę napisać scenariusz i nagrać głos lektora.</p>
        	<h3 class="pb-0">Cena:</h3>
            <h2 style="font-size:calc(21px + 1.1vw)"><strong>1000 zł</strong></h2>
</div>
</div>
</div>
</div>
</section>
<!-- 4 -->
<section class="fancyBg">
	<div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Łączona sesja zdjęciowa (dron i DSLR)</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         
  		<a href="/images/zdjecia/dron/13.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="/images/zdjecia/dron/13_thumb.jpg" class="img-fluid thumbnail p-1" alt="Wizualizacja domu jednorodzinnego" loading="lazy">
            </a>      		       
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
        	<p class="leadP">Sesja zdjęciowa wykonywana z różnych miejsc i wysokości w celu zmaksymalizowania różnorodności wizualnej. Zdjęcia po obróbce są przekazywane w formacie JPG.</p>
        	<h3 class="pb-0">Cena:</h3>
            <h2 style="font-size:calc(21px + 1.1vw)"><strong>600 zł (za 20 zdjęć)</strong></h2>

</div>
</div>
</div>
</div>
</section>
<!-- 5 -->
<section class="fancyBgWhite">
	<div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Wirtualny spacer</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0" onclick="if(navigator.onLine){window.open('zdjecia360', '_blank');}">
         
  		<img src="/images/wirtualny-spacer.jpg" class="img-fluid thumbnail p-1" alt="Wizualizacja domu jednorodzinnego" loading="lazy">  		       
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
        	<p class="leadP">Usługa obejmuje wykonanie zdjęć panoramicznych (fotosfera) w każdym pomieszczeniu i połączenie ich  w wirtualny spacer przy użyciu biblioteki Pannellum.js. Po wykonaniu zlecenia poza zdjęciami przekazuję kod javascript gotowy do wklejenia na stronę.</p>
        	<h3 class="pb-0">Cena:</h3>
            <h2 style="font-size:calc(21px + 1.1vw)"><strong>150 zł/zdjęcie</strong></h2>

</div>
</div>
</div>
</div>
</section>
<!-- 6 -->
<section class="fancyBg">
	<div class="container" onclick="if(navigator.onLine){window.open('https://goo.gl/maps/ZTVj8LEEjPP4XL9n9', '_blank');}">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Zdjęcie 360 z drona na Google Maps</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         
  		<img src="/images/zdjecia/dron/5_thumb.jpg" class="img-fluid thumbnail p-1" alt="Wizualizacja domu jednorodzinnego" loading="lazy">  		       
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
        	<p class="leadP">Zdjęcie panoramiczne obiektu oraz całej okolicy wykonane z drona. W zależności od lokalizacji, maksymalna wysokość lotu wynosi 150 metrów. Zdjęcie mogę opublikować samodzielnie i podpiąć do wizytówki Państwa firmy lub pomóc w publikacji z Waszego konta Google Street View.</p>
        	<h3 class="pb-0">Cena:</h3>
            <h2 style="font-size:calc(21px + 1.1vw)"><strong>100 zł/zdjęcie</strong></h2>

</div>
</div>
</div>
</div>
</section>

<section class="fancyBgWhite">
	<div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Spoty z lektorem</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         <video controls="" id="falentyMain" loop="" style="width:100%; height:auto;" loading="lazy">
               <source src="/video/rury.mp4#t=10" type="video/mp4">
           </video>
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
            <h2 style="font-size:calc(21px + 1.1vw)"><strong>indywidualna wycena</strong></h2>
</div>
</div>
</div>
</div>
</section>

<!-- 1 -->
<section class="fancyBg" id="3d">
  <div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
        <h2>Wizualizacje 3D domów z zewnątrz</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         
      <a href="/rendery/dom_35_v5.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="/rendery/dom_35_v5.jpg" class="img-fluid thumbnail p-1" alt="Wizualizacja domu jednorodzinnego" loading="lazy">
            </a>                 
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
          <p class="leadP">Cena obejmuje wykonanie modelu 3D na podstawie planów architektonicznych, urządzenie okolicy domu (podjazd, droga, ogrodzenie, trawnik, roślinność), oraz render 4 obrazków z różnych stron. W tle standardowo umieszczam linię drzew lub horyzont. Opcjonalnie w tej cenie mogę połączyć modele 3D z prawdziwym zdjęciem z drona lub ze zdjęciem stockowym.</p>
            <h2 style="font-size:calc(21px + 1.1vw)"><strong>2000 zł za 4 ujęcia</strong></h2>
              <h3 class="p-0">dla domu do 160 m²</h3>
  
</div>
</div>
</div>
</div>
</section>
<!-- 2 -->
<section class="fancyBgWhite">
  <div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
        <h2>Wizualizacje 3D osiedla</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         <a href="/rendery/9.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="/rendery/9.jpg" class="img-fluid thumbnail p-1" alt="Wizualizacja domu jednorodzinnego" loading="lazy">
            </a>     
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
          <p class="leadP">Wykonanie wizualizacji osiedla składającego się z wielu domów. Koszt nie uwzględnia wykonania modeli 3D, tylko budowę osiedla (ustawienie domów, budowa płotów i dróg) i renderowanie 2 obrazków z różnych stron i wysokości. Opcjonalnie w tej cenie mogę nanieść modele 3D na prawdziwe zdjęcia z drona.</p>
          <h3 class="pb-0">Cena:</h3>
            <h2 style="font-size:calc(21px + 1.1vw)"><strong>1000 zł</strong></h2>
            <h3 class="p-0">+ wykonanie modeli domów</h3>
</div>
</div>
</div>
</div>
</section>
<!-- 3 -->
<section class="fancyBg">
  <div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
        <h2>Modelowanie mebli i małych obiektów</h2>
      </div>

 <div class="col-lg-6 m-auto px-2 m-0">
                  <a href="/rendery/krzeslo.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img style="object-position: right" src="/rendery/krzeslo.jpg" class="img-fluid thumbnail p-1" alt="Wizualizacja domu jednorodzinnego" loading="lazy">
            </a>
                 </div>     
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
          <p class="leadP">Potrzebujesz umieścić na wizualizacji konkretne meble (np. z IKEA)? Nie ma problemu, nawet na podstawie jednego zdjęcia, mogę stworzyć realistyczny model 3D wykorzystujący realistyczne materiały PBR, rzeźbienie zmarszczek materiału i wiernie odwzorowany kształt.</p>
          <h3 class="pb-0">Cena:</h3>
            <h2 style="font-size:calc(21px + 1.1vw)"><strong>od 250 zł</strong></h2>
            <h3 class="p-0">za mebel</h3>
</div>
</div>
</div>
</div>
</section>
<!-- 4 -->
<section class="fancyBgWhite">
  <div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
        <h2>Wizualizacje 3D wnętrza domu</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         
      <a href="/rendery/render_sofa.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="/rendery/render_sofa.jpg" class="img-fluid thumbnail p-1" alt="Wizualizacja domu jednorodzinnego" loading="lazy">
            </a>                 
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
          <p class="leadP">Wirtualne ujęcie z wnętrza domu. Może to być widok umeblowanej kuchni, salonu, czy pokoju dziennego. Cena obejmuje wykorzystanie gotowych mebli z mojej biblioteki. W przypadku konieczności wykonania modeli mebli od zera należy doliczyć dodatkowy koszt.</p>
          <h3 class="pb-0">Cena:</h3>
            <h2 style="font-size:calc(21px + 1.1vw)"><strong>od 500 zł za ujęcie</strong></h2>
            <h3 class="p-0">+ koszt wykonania mebli na zamówienie</h3>

</div>
</div>
</div>
</div>
</section>
<!-- 5 -->
<section class="fancyBg">
  <div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
        <h2>Przekrój 3D</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         
      <a href="/rendery/przekroj.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="/rendery/przekroj.jpg" class="img-fluid thumbnail p-1" alt="Wizualizacja domu jednorodzinnego" loading="lazy">
            </a>        
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
          <p class="leadP">Wykonanie przekroju 3D umeblowanego lokalu. Obrazek dostarczam jako statyczny render w formacie JPG.</p>
          <h3 class="pb-0">Cena:</h3>
               <h2 style="font-size:calc(21px + 1.1vw)"><strong>800 zł</strong></h2>
              <h3 class="p-0">dla domu do 160 m²</h3>

</div>
</div>
</div>
</div>
</section>
<!-- 6 -->
<section class="fancyBgWhite">
  <div class="container" >  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
        <h2>Wirtualny spacer po wirtualnym wnętrzu</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0" onclick="if(navigator.onLine){window.open('scena3d-2', '_blank');}">
         
      <img src="/images/wirtualny-spacer-3d.jpg" class="img-fluid thumbnail p-1" alt="Wizualizacja domu jednorodzinnego" loading="lazy">            
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
      <p class="leadP">Usługa obejmuje modelowanie pełnego wnętrza budynku wraz z meblami, render equirectandular w 7 lokalizacjach i połączenie fotosfer w wirtualny spacer gotowy do wklejenia na stronę (przy użyciu biblioteki Pannellum.js). Cena obejmuje wykorzystanie gotowych mebli z mojej biblioteki. W przypadku konieczności wykonania modeli mebli od zera, należy doliczyć dodatkowy koszt.</p>
               <h2 style="font-size:calc(21px + 1.1vw)"><strong>2000 zł</strong></h2>
              <h3 class="p-0">dla domu do 160 m²</h3>
        </div>
    </div>
    </div>
</div>
</section>
<!-- 7 -->
<section class="fancyBg">
  <div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
        <h2>Animacje i VFX</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
          <video controls autoplay muted id="falentyMain" loop="" style="width:100%; height:auto;">
               <source src="/video/vfx.mp4" type="video/mp4">
           </video>
        </div>

 <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
      <p class="leadP">Animacje i efekty specjalne, takie jak łączenie wideo z drona i modeli 3D, czy przeloty kamery nad wirtualną sceną.</p>
               <h2 style="font-size:calc(21px + 1.1vw)"><strong>indywidualna wycena</strong></h2>
        </div>
    </div>
</div>
</div>
</section>


</div>
<!-- </section> -->
<%- include('partials/footer'); -%>
	
