<%- include('partials/header'); -%>
<head>
	<meta name="robots" content="noindex" />
</head>

<section class="fancyBgWhite pt-5 mt-3 pb-0">
	<div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
<h1>Cennik dla Martyny</h1>
<h2 class="mb-0"><strong>Ceny brutto na UOD</strong></h2>
</div>
</div>
</div>
</section>


<!-- 1 -->
<section class="fancyBg">
	<div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Lot dronem nad placem budowy i montaż filmiku</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         <video controls="" id="falentyMain" loop="" style="width:100%; height:auto;" loading="lazy">
               <source src="video/6.mp4" type="video/mp4">
           </video>
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
            <h2 style="font-size:calc(21px + 2vw)"><strong>1200 zł brutto</strong></h2>

</section>
<!-- 2 -->
<section class="fancyBgWhite">
	<div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Nagranie konkrentego procesu (cały dzień zdjęciowy, wiele lotów)</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         <video controls="" id="falentyMain" loop="" style="width:100%; height:auto;" loading="lazy">
               <source src="video/budowa_domu_prefabrykaty.mp4" type="video/mp4">
           </video>
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
            <h2 style="font-size:calc(21px + 2vw)"><strong>2000 zł brutto</strong></h2>

</section>
<!-- 3 -->
<section class="fancyBg">
	<div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Filmik promujący konkretny lokal (z zewnątrz i wewnątrz)</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         <video controls="" id="falentyMain" loop="" style="width:100%; height:auto;" loading="lazy">
               <source src="video/5.mp4" type="video/mp4">
           </video>
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
            <h2 style="font-size:calc(21px + 2vw)"><strong>1200 zł brutto</strong></h2>
</section>
<!-- 4 -->
<section class="fancyBgWhite">
	<div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Łączona sesja zdjęciowa z ziemi i drona</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         
  		<a href="images/zdjecia/dron/13.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="images/zdjecia/dron/13_thumb.jpg" class="img-fluid thumbnail p-1" alt="Wizualizacja domu jednorodzinnego" loading="lazy">
            </a>      		       
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
            <h2 style="font-size:calc(21px + 2vw)"><strong>600 zł brutto (za 40 zdjęć)</strong></h2>

</section>
<!-- 5 -->
<section class="fancyBg">
	<div class="container" onclick="if(navigator.onLine){window.open('zdjecia360', '_blank');}">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Wirtualny spacer wraz z kodem do wklejenia na stronę</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         
  		<img src="images/wirtualny-spacer.jpg" class="img-fluid thumbnail p-1" alt="Wizualizacja domu jednorodzinnego" loading="lazy">  		       
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
            <h2 style="font-size:calc(21px + 2vw)"><strong>100 zł/zdjęcie brutto</strong></h2>

</section>
<!-- 6 -->
<section class="fancyBgWhite">
	<div class="container" onclick="if(navigator.onLine){window.open('https://goo.gl/maps/ZTVj8LEEjPP4XL9n9', '_blank');}">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Zdjęcie 360 z drona na Google Maps</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         
  		<img src="images/zdjecia/dron/5_thumb.jpg" class="img-fluid thumbnail p-1" alt="Wizualizacja domu jednorodzinnego" loading="lazy">  		       
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
            <h2 style="font-size:calc(21px + 2vw)"><strong>100 zł/zdjęcie brutto</strong></h2>

</section>

<section class="fancyBg">
	<div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Wizualizacje 3D z zewnątrz i wewnątrz</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         
  		<a href="rendery/render_sofa.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="rendery/render_sofa.jpg" class="img-fluid thumbnail p-1" alt="Wizualizacja domu jednorodzinnego" loading="lazy">
            </a>      		       
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
            <h2 style="font-size:calc(21px + 2vw)"><strong>indywidualna wycena</strong></h2>
  
</section>

<section class="fancyBgWhite">
	<div class="container" onclick="if(navigator.onLine){window.open('scena3d', '_blank');}">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Wirtualny spacer po wirtualnym wnętrzu</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         
  		<img src="images/wirtualny-spacer-3d.jpg" class="img-fluid thumbnail p-1" alt="Wizualizacja domu jednorodzinnego" loading="lazy">  		       
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
            <h2 style="font-size:calc(21px + 2vw)"><strong>indywidualna wycena</strong></h2>
        </div></div>
    </div></div>
</section>

<section class="fancyBg">
	<div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Spoty z drona z lektorem (scenariusz, zdjęcia, lektor, montaż, udźwiękowienie)</h2>
      </div>
        <div class="col-lg-6 m-auto px-2 m-0">
         <video controls="" id="falentyMain" loop="" style="width:100%; height:auto;" loading="lazy">
               <source src="video/3.mp4" type="video/mp4">
           </video>
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-center">
        <div class="py-auto">
            <h2 style="font-size:calc(21px + 2vw)"><strong>indywidualna wycena</strong></h2>

</section>


</div>
<!-- </section> -->
<%- include('partials/footer'); -%>
	