<%- include('partials/header'); -%>


<div class="fullScreenCarousel">
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox"  aria-label="Header">
      <div class="carousel-item active" style="background-image: url('/images/zdjecia/dron/9.webp')">
      </div>
      <div class="carousel-item" style="background-image: url('/images/zdjecia/dron/4_small.jpg')">
      </div> 
    </div>
  </div>

<div class="centeredOverlay d-flex h-100 text-center align-items-center w-100">
      <div class="w-100 text-white">
     <h1 class="px-2 pb-1 mx-auto" style="font-weight:800; font-size:calc(25px + 2.5vw)!important; text-shadow: 5px 4px 4px rgba(0,0,0,1); margin-bottom:10px;">Filmy i zdjęcia reklamowe</h1>
     <p class="px-2 pb-1 mx-auto" style="max-width:1100px; font-weight:600; font-size:calc(18px + 1.4vw)!important; text-shadow: 5px 4px 4px rgba(0,0,0,1); margin-bottom:calc(15px + 0.5vw)!important;">Realizacja filmów reklamowych do social media w niskich cenach.</p>
     <span>
         <a  style="font-size: 20px; " href="#rendery" class="btn btn-lg btn-primary m-3 p-2 pulse">Poznaj szczegóły</a>
    </span>
      </div>
     </div>
</div>


    <section id="rendery" class="fancyBg">
  <div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
        <h2>Filmy</h2>
      </div>
        <div class="col-lg-6 m-auto m-1 p-0">
         <a href="/images/zdjecia/dron/14.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="/images/zdjecia/dron/14_thumb.jpg" class="img-fluid thumbnail p-1" alt="Wizualizacja domu jednorodzinnego" loading="lazy">
            </a>
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-left">
        <div class="py-auto">
          <p class="leadUl">Filmy to unikalne narzędzie marketingowe umożliwiające przekazanie informacji i jednoczesne pokazanie produktu w angażujący sposób. Wideo sprawdzi się niezależnie od tego, czy promujesz nieruchomość, przygotowujesz relację z eventu, samouczek prezentujący sposób korzystania w Twojego produktu, czy spot reklamowy na youtube. Materiały realizowane w Wytwórni Kontentu wykorzystują napisy lub nagranie lektorskie. </p>
            <a href="#kontakt"><button type="button" class="btn btn-primary btn-rounded pb-1">Zamów wycenę</button></a>
        </div>
      </div> 


           <div class="col-lg-4 col-md-6 col-12 p-1 m-0 ">
           <video  controls="" id="falentyMain" loop="" style="width:100%; height:auto;" loading="lazy">
               <source src="   video/budowa_domu_prefabrykaty.mp4" type="video/mp4">
           </video>
           </div>
           <div class="col-lg-4 col-md-6 col-12 p-1 m-0 ">
           <video controls="" id="falentyMain" loop="" style="width:100%; height:auto;" loading="lazy">
               <source src="   video/5.mp4" type="video/mp4">
           </video>
           </div>
           <div class="col-lg-4 col-md-6 col-12 p-1 m-0 ">
           <video  controls="" id="falentyMain" loop="" style="width:100%; height:auto;" loading="lazy">
               <source src="   video/3.mp4#t=1.7" type="video/mp4">
           </video>
           </div>
  <div class="col-md-6 col-12 p-1 m-0 ">
           <video  controls="" id="falentyMain" loop="" style="width:100%; height:auto;" loading="lazy">
               <source src="video/rury.mp4#t=10" type="video/mp4">
           </video>
           </div>
             <div class="col-md-6 col-12 p-1 m-0 ">
           <video  controls="" id="falentyMain" loop="" style="width:100%; height:auto;" loading="lazy">
               <source src="video/wentylacja.mp4#t=7" type="video/mp4">
           </video>
           </div>
      
          
            
 </div>
  </div>
</section >

<section class="fancyBgWhite">
	<div class="container" >  
      <div class="row">
         <div class="col-12 mt-3 mb-4 text-center">
        <h2>Zdjęcia</h2>
      </div>
        <div class="col-lg-6 m-auto m-1 p-0">
           <a href="/images/zdjecia/dron/7.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0 ">
                <img src="/images/zdjecia/dron/7_thumb.jpg" class="img-fluid thumbnail p-1" alt="Render bliźniaka" loading="lazy">
            </a>
        </div>
        <div class="col-lg-6 col-12 m-auto py-2">
        <div class="py-auto leadUl my-2">
   
            <p class="leadUl">Potrzebujesz fotorelację z aktualnymi zdjęciami z placu budowy na facebooka? Wystawiasz dom lub działkę na sprzedaż i chcesz dodać do oferty zdjęcia, które pokażą całą okolicę i przekonają klientów do kontaktu? W takich przypadkach najlepiej sprawdzi się połączenie zdjęć z ziemi oraz z drona.</p>
        
           <a href="#kontakt"><button type="button" class="btn btn-primary btn-rounded pb-1">Zamów wycenę</button></a>
        </div>
      </div> 
 
             <a href="/images/zdjecia/dron/1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="/images/zdjecia/dron/1_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 12" loading="lazy">
            </a>
               <a href="/images/zdjecia/dron/2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0 ">
                <img src="/images/zdjecia/dron/2_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 2" loading="lazy">
            </a>
             <a href="/images/zdjecia/dron/19.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0 ">
                <img src="/images/zdjecia/dron/19_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 1" loading="lazy">
            </a>
            <a href="/images/zdjecia/dron/12.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="/images/zdjecia/dron/12_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 8" loading="lazy">
            </a>
               <a href="/images/zdjecia/dron/13.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="/images/zdjecia/dron/13_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 9" loading="lazy">
            </a>
       
            
             <a href="/images/zdjecia/dron/10.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="/images/zdjecia/dron/10_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 7" loading="lazy">
            </a>
            <a href="/images/zdjecia/dron/6.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="/images/zdjecia/dron/6_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 5" loading="lazy">
            </a>
              <a href="/images/zdjecia/dron/8.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="/images/zdjecia/dron/8_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 6" loading="lazy">
            </a>
           
            
         
              <a href="/images/zdjecia/dron/11.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="/images/zdjecia/dron/11_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 10" loading="lazy">
            </a>
                 <a href="/images/zdjecia/dron/3.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="/images/zdjecia/dron/3_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 3" loading="lazy">
            </a>
            <a href="/images/zdjecia/dron/15.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="/images/zdjecia/dron/15_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 11" loading="lazy">
            </a>
             <a href="/images/zdjecia/dron/16.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0 ">
                <img src="/images/zdjecia/dron/16_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 1" loading="lazy">
            </a>
                  <a href="/images/zdjecia/dron/17.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="/images/zdjecia/dron/17_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 10" loading="lazy">
            </a>
            <a href="/images/zdjecia/dron/18.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="/images/zdjecia/dron/18_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 11" loading="lazy">
            </a>
             <a href="/images/zdjecia/dron/5.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="/images/zdjecia/dron/5_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 4" loading="lazy">
            </a>
            
 
 </div>
  </div>
</section>



<%- include('partials/footer'); -%>