<%- include('partials/header'); -%>
<head>
	<meta name="robots" content="noindex" />
</head>

<section style="margin-top:55px;" class="fancyBg">
	<div class="container py-5">  
      <div class="row py-5">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Wiadomość wysłana</h2>
      </div>
       
        <div class="col-12 m-auto py-2 ">
        <div class="p-auto">
          <p class="lead mx-auto text-center" style="max-width: 900px">Dziękuję za zainteresowanie moją ofertą. Otrzymałem wiadomość - skontaktuję się w celu ustalenia szczegółów projektu, przedstawienia wyceny oraz możliwego terminu realizacji.</p>
        </div></div></div></div>
</section>
<section >
	<div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Sprawdź inne usługi:</h2>
      </div>
        <div class="col-lg-3 col-md-6 m-auto  p-1 m-0">
          <a href="wizualizacje"><img data-src="rendery/salon_fix_tiny.jpg" alt="Wizualizacja 3D domu jednorodzinnego" class="imageResponsiveCover roundedCorners" src="rendery/salon_fix_tiny.jpg" loading="lazy"></a>
        </div>
<div class="col-lg-3 col-md-6 m-auto p-1">
          <a href="filmy-reklamowe"><a href=""></a><img data-src="images/zdjecia/dom2_thumb.jpg" alt="Wizualizacja 3D domu jednorodzinnego" class="imageResponsiveCover roundedCorners" src="images/zdjecia/dom2_thumb.jpg" loading="lazy"></a>
        </div>
<div class="col-lg-3 col-md-6  m-auto p-1">
         <a href="wirtualny-spacer"> <img data-src="images/zdjecia/dron/1_thumb.jpg" alt="Wizualizacja 3D domu jednorodzinnego" class="imageResponsiveCover roundedCorners" src="images/zdjecia/dron/1_thumb.jpg" loading="lazy"></a>
        </div>
<div class="col-lg-3 col-md-6  m-auto p-1">
          <a href="aplikacje-webowe"><img data-src="images/dev.jpg" alt="Wizualizacja 3D domu jednorodzinnego" class="imageResponsiveCover roundedCorners" src="images/dev.jpg" loading="lazy"></a>
        </div>


        </div></div>
</section>


<%- include('partials/footer'); -%>