<%- include('partials/header'); -%>
<head>
	<meta name="robots" content="noindex" />
</head>

<section style="margin-top:55px;" class="fancyBg">
	<div class="container py-5">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Wiadomość nie została wysłana</h2>
      </div>
       
        <div class="col-12 m-auto py-2 text-left">
        <div class="py-auto">
          <p class="lead text-center">Coś poszło nie tak, jak powinno. Sprawdź swoje połączenie z internetem i spróbuj ponownie lub skontaktuj się w inny sposób.</p>
          
        </div></div></div></div>
</section>
<section >
	<div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Sprawdź połączenie z internetem i spróbuj ponownie</h2>
      </div>
        
        </div></div>
</section>


<%- include('partials/footer'); -%>