
<head>
    <meta name="robots" content="noindex" />
    <script type="text/javascript" src="https://static.sketchfab.com/api/sketchfab-viewer-1.12.0.js"></script>
</head>

 <style>

    .hidden {
        visibility: hidden;
        height: 0;
        width: 0;
    }

.c-viewer__iframe {

    height: 70vh;
    width: 100%;
    top: 0;
    left: 0;
    border: none;

/*.viewer .canvas {
    display: block;
    width: calc(100% + 1px);
    height: 100%;
   }*/
   /* @media only screen and (max-device-width: 812px) {

iframe {
height: 50%;
}
}*/
    </style>



<section class="fancyBgWhite pt-5 mt-3 pb-0">
    <div class="container"> 



<div class="viewer-wrapper"><div class="c-viewer viewer-container"><iframe title="Wrinkly Chair 3D model - Sketchfab" class="c-viewer__iframe" src="https://sketchfab.com/models/4fb62550c27d4899b07dc9f8bcc58c86/embed?autostart=0&amp;internal=1&amp;tracking=0&amp;ui_infos=0&amp;ui_snapshots=1&amp;ui_stop=0&amp;ui_theatre=1&amp;ui_watermark=0" id="api-frame" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking="true" execution-while-out-of-viewport="true" execution-while-not-rendered="true" web-share="true" allowfullscreen=""></iframe></div></div>



    </div>
    </section>


    