<%- include('partials/header'); -%>


<div class="fullScreenCarousel">
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox" aria-label="Header">
      <div class="carousel-item" style="background-image: url('rendery/A.jpg')" >
      </div>
      <div class="carousel-item " style="background-image: url('rendery/C.jpg')" >
      </div>
      <div class="carousel-item active" style="background-image: url('rendery/B.jpg')" >
      </div> 
    </div>
  </div>

<div class="centeredOverlay d-flex h-100 text-center align-items-center w-100">
      <div class="w-100 text-white">
     <h1 class="px-2 pb-1 mx-auto" style="font-weight:800; font-size:calc(25px + 2.5vw)!important; text-shadow: 5px 4px 4px rgba(0,0,0,1); margin-bottom:10px;">Realistyczne wizualizacje 3D</h1>
     <p class="px-2 pb-1 mx-auto" style="max-width:1000px; font-weight:600; font-size:calc(18px + 1.5vw)!important; text-shadow: 5px 4px 4px rgba(0,0,0,1); margin-bottom:calc(15px + 0.5vw)!important;">Reklamuj nieruchomość przed rozpoczęciem budowy</p>
     <span>
         <a  style="font-size: 20px; " href="#rendery" class="btn btn-lg btn-primary m-3 p-2 pulse">Poznaj szczegóły</a>
    </span>
      </div>
     </div>
</div>


<section  class="fancyBg" id="rendery">
  <div class="container">  
      <div class="row">
        <div class="col-12 mt-3 mb-4 text-center">
        <h2>Wizualizacje 3D</h2>
      </div>
        <div class="col-lg-6 m-auto m-1 p-0">
         <a href="rendery/A.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="rendery/A_thumb.jpg" class="img-fluid thumbnail p-1" alt="Wizualizacja domu jednorodzinnego" loading="lazy">
            </a>
        </div>
        <div class="col-lg-6 col-12 m-auto py-2 text-left">
        <div class="py-auto">
          <p class="leadUl">Wizualizacje 3D to idealne narzędzie do zaprezentowania klientom planowanych nieruchomości przed rozpoczęciem budowy. Architekci przeważnie tworzą projekty programach takich jak AutoCad, skupiając się na szczegółowych planach budowlanych. Zlecenie przygotowania wizualizacji grafikowi 3D, ułatwi promowanie inwestycji i przedstawienie lokali potencjalnym klientom.</p>
        </div>
      </div> 
 </div>
  </div>
</section>

<section class="fancyBgWhite">
	<div class="container"  >  
      <div class="row">
        <!-- <div class="col-12 mt-3 mb-4 text-center">
      	<h2>Wizualizacje 3D</h2>
      </div> -->
        <div class="col-lg-6 m-auto m-1 p-0">
           <a href="rendery/dom_35_v5.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0 ">
                <img src="rendery/dom_35_v5.jpg" class="img-fluid thumbnail p-1" alt="Render bliźniaka" loading="lazy">
            </a>
        </div>
        <div class="col-lg-6 col-12 m-auto py-2">
        <div class="py-auto leadUl my-2">
            <p>Oferowane usługi:</p>
          <ul>
            <li>modelowanie obiektu na podstawie planów z rzutami,</li>
            <li>przygotowanie tekstur i materiałów PBR,</li>
            <li>stworzenie wirtualnej okolicy (drogi, chodniki, drzewa),</li>
            <li>integracja modelu 3D z prawdziwymi zdjęciami okolicy,</li>
            <li>oświetlenie sceny teksturą HDRI i ustawnie kamery,</li>
            <li>renderowanie w Cycles do scen statycznych lub Eevee do animacji.</li>
          </ul>
        
           <a href="#kontakt"><button type="button" class="btn btn-primary btn-rounded pb-1">Zamów wycenę</button></a>
        </div>
      </div> 

<a href="rendery/B.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="rendery/B_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 12" loading="lazy">
            </a>
			
			<a href="rendery/dom_35_v9.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="rendery/dom_35_v9_small.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 15" loading="lazy">
            </a>
            
            
            <a href="images/zdjecia/dom2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="images/zdjecia/dom2.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 14" loading="lazy">
            </a>
            
              	<a href="rendery/C.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="rendery/C_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 12" loading="lazy">
            </a>		
             <a href="rendery/salon_fix.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="rendery/salon_fix_tiny.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 12" loading="lazy">
            </a>
             <a href="rendery/9.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0 ">
                <img src="rendery/9_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 2" loading="lazy">
            </a>
            <a href="rendery/2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="rendery/2_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 3" loading="lazy">
            </a>
             <a href="rendery/6.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="rendery/6_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 4" loading="lazy">
            </a>
            <a href="rendery/3.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="rendery/3_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 5" loading="lazy">
            </a>
              <a href="rendery/4.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="rendery/4_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 6" loading="lazy">
            </a>
             <a href="rendery/10.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0 ">
                <img src="rendery/10_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 1" loading="lazy">
            </a>
               <a href="rendery/kuchnia_fix.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="rendery/kuchnia_fix.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 8" loading="lazy">
            </a>
            <a href="rendery/5.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="rendery/5_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 9" loading="lazy">
            </a>
              <a href="rendery/1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="rendery/1_thumb.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 10" loading="lazy">
            </a>
            <a href="rendery/gabinet_fix.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 col-md-6 col-12 p-0 m-0">
                <img src="rendery/gabinet_fix.jpg" class="img-fluid thumbnail p-1" alt="Zdjęcie 11" loading="lazy">
            </a>
            
             
 
 </div>
  </div>
</section>

  



     


<%- include('partials/footer'); -%>