<!doctype html>
<html>

<head>
<script src="https://x3dom.org/download/1.8.1/x3dom.js"></script>
<link rel="stylesheet" href="https://x3dom.org/download/1.8.1/x3dom.css" /> 
</head>

<body>
<x3d x='0px' y='0px' width='500px' height='500px'>
<scene>
<inline url='test8.x3d'></inline>
</scene>
</x3d>
</body>

</html>